[submodule "nvim"]
	path = nvim
	url = https://github.com/tin-pham/NeoVimLua
[submodule "NeoVimLua"]
	path = NeoVimLua
	url = https://github.com/tin-pham/NeoVimLua
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/tin-pham/NeoVimLua
[submodule "nvim/.config/NeoVimLua"]
	path = nvim/.config/nvim
	url = https://github.com/tin-pham/NeoVimLua
