zmodule trapd00r/zsh-syntax-highlighting-filetypes
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule spaceship-prompt/spaceship-prompt --name spaceship --no-submodules
zmodule hlissner/zsh-autopair
